body {
    background-color:#212529;
    color: #fff;
    padding-top: 15px; padding-left: 5px; padding-right: 5px; font-size: 13px;
}
h1{
    color: #0021e8;
}


#btnLogin, #btnLogout{
	position:absolute;
   top:0;
   right:0;
}

#btnInfo {
	position: absolute;
	top:0;
	left:0;
}

.twetch{
    position: relative;
    width: 101%;
    height: auto;
    left: -6px;
}
.bitcoinfiles{
    max-width: 100%; height: auto;
}
.nes-dialog {
    background-color: #212529;
    color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 95%;
    max-height: 100%;
}
.selection{
    padding-top: 15px; 
    width: 100%;
    margin: 10px auto;
}
select#order{
    position: relative;
    width: 100%;
}
.nes-icon.star.is-large{
    position: absolute; left: 80px; top: 20px
}
.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}
.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.boostValue{
    position: absolute; left: 148px; top: 69px
}
.txid{
    position: absolute; right: -5px; top: 69px
}
.order{
    width: 100%;
    margin: auto;
}
.features{
    padding: 10px;
}
.numLikes{
    position: absolute; left: 50px; top: 69px
}
.item{
    position: relative; height: 11px;
    top: -40px
}
.urlFormat {
    overflow:hidden;
    text-overflow:ellipsis;
}
.center {
    position: absolute;
    top: 35%;
    left: 30%;
    margin: 10px;
    height: 220px;
    width: 300px;
}
.userLink{
    font-size: 13px;
    margin-left: 10px;
}
.profile{
    float: left;
    top: 15px;
    position: absolute;
}
.username{
    position: absolute;
    top: 30px;
    left: 80px;
}
#widget-container{
    margin: auto;
}
#buybsv{
    position: absolute;
    color: black;
    right: 0px;
}
#info{
    position: absolute;
    color: black;
    right: 125px;
}
#post-container{
    width: 100%;
    margin: auto;
    color: #fff;
    position: relative;
}
#message-container {
    width: 100%;
    margin: auto;
    color: #fff;
    white-space: pre-line;
}
#post {
    background-color: #212529;
    border-color: #fff;
    color: #21e800;
}
#postTitle{
    background-color: #212529;
}
var {font-style: normal; font-size: 10px}
@media only screen and (min-width: 768px){
    .selection{width: 60%}
    .order{width: 60%}
    #post-container{width: 60%}
    #message-container{width: 60%}
}

html:root {
            --primary-color: #21e800;
        }
        
        var {
            font-family: 'fixedsys_excelsior_3.01Rg';
            font-style: normal;
            font-size: 10px
        }
        
        .urlFormat {
            overflow: hidden;
            text-overflow: ellipsis
        }
        
        html,
        body,
        pre,
        code,
        kbd,
        p,
        a,
        dialog,
        title,
        samp {
            font-family: 'fixedsys_excelsior_3.01Rg';
        }
        
        body {
            background-color: black;
        }
        
                
        .btn {
            z-index: 0;
        }
        
        #flex-cont2 {
            display: flex !important;
            justify-content: space-between;
        }
        
        #aux-wrapper {	
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0.5vh;
        }
        
        .selection {
            align-self: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 70%;
            padding: 0;
            margin: 0;
            z-index: 0;
        }
        
        #qselect {
            align-self: center !important;
            z-index: 0;
        }
        
        select {
            z-index: 0;
        }
        
        #popup-widget-modal {
            position: absolute;
            z-index: 10000 !important;
        }
        
        .btn.btn-primary {
            z-index: 0;
        }
        
        .btn.btn-primary.btn-ghost {
            z-index: 0;
        }
        
        .terminal-card {
            z-index: 0;
		padding-right: 40px;
		
        }
        
        #iframe {
            z-index: 1000;
        }
        
        /* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
  justify-content: space-between;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #21e800;
}
        .topnav a:hover{
            color:black;
        }
        .topnav a.active:hover{
            color:black;
        }

/* Add a color to the active/current link */
.topnav a.active {
  border-bottom: 3px solid #21e800;
  color: #21e800;
}

        .nav-element {
            display: flex !important;
    justify-content: space-between;
        }
