body {
    background-color:#212529;
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 13px;
    min-width: 320px;
}
h4 {
    text-align: center;
}
p {
    letter-spacing: 1.5px;
    line-height: 1.6;
    color: white;
}
.loading {
    width: 230px;
    height:30px
}
.twetch {
    position: relative;
    width: 101%;
    height: 100%;
    left: -6px;
}
.bitcoinfiles {
    max-width: 100%; height: auto;
}
.nes-dialog {
    background-color: #212529;
    color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 95%;
    max-height: 100%;
}
.selection {
    padding-top: 15px;
    padding-bottom: 7px;
    width: 100%;
    margin: 15px auto;
}
select#order {
    position: relative;
    width: 100%;
    padding: 8px;
}
.nes-icon.heart.is-medium {
    position: absolute; 
    left: 0px;
    top: 25px;
}
.nes-icon.star.is-medium {
    position: absolute;
    left: 70px;
    top: 25px
}
.nes-icon.coin.is-medium {
    position: absolute; 
    right: 10px;
    top: 35px;
}
.nes-btn.share {
    position: absolute; 
    padding: 5px;
    right: -5px;
    top: 25px;
}
.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}
.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.boostValue {
    position: absolute;
    left: 123px;
    top: 74px;
}
.txid {
    position: absolute;
    right: -5px;
    top: 74px
}
.order {
    width: 100%;
    margin: auto;
}
.features {
    padding: 10px;
}
.numLikes {
    position: absolute;
    left: 40px;
    top: 74px
}
.item {
    position: relative;
    height: 40px;
    top: -40px
}
.postContent {
    position: relative;
    margin-top: 5px;
    margin-bottom: 20px;
}
.urlFormat {
    overflow: hidden;
    text-overflow: ellipsis;
}
.userLink {
    font-size: 13px;
    margin-left: 10px;
    margin: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: absolute;
    top: 30px;
    left: 80px;
    margin-bottom: 10px;
}
.profile {
    float: left;
    top: 15px;
    position: absolute;
}
.poster {
    position: relative;
}
.timeago {
    font-size: 8px;
    position: absolute;
    right: 13px;
    top: 17px;
    margin: auto;
}
.question {
    top: -10px;
    right: 10px;
    margin: 2px;
    position: absolute;
}
.config {
    top: -15px;
    left: 10px;
    margin: 2px;
    position: absolute;
}
.top {
    width: 100%;
    margin: auto;
    position: relative;
    margin-bottom: 20px;
}
#post-container{
    width: 100%;
    margin: auto;
    margin-top: 15px;
    color: #fff;
    position: relative;
}
#message-container {
    width: 100%;
    margin: auto;
    color: #fff;
    white-space: pre-line;
}
#post {
    background-color: #212529;
    border-color: #fff;
    height: 80px;
}
#tPost {
    position: absolute;
    right: 10px;
    top: 92px;
    margin-top: 2px;
}
#postTitle {
    background-color: #212529;
}
.tipTxt {
    height: 60px;		
    margin-bottom: 2px;
}
#tipDlg {
    letter-spacing: 1.5px;
    line-height: 1.6;
}
#dlg {
    text-align: left;
}
var {
    font-style: normal;
    font-size: 10px;
}
@media only screen and (min-width: 768px) {
    .selection{width: 60%}
    .order{width: 60%}
    #post-container{width: 60%}
    #message-container{width: 60%}
    .top{width: 60%}
    #tipDlg{width: 60%}
    #dlg{width: 50%}
}
@media (max-width: 500px) {
    .userLink{max-width:50%}
}
